<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @reservation.item.user.first_name %>, <%= @reservation.user.first_name %> <%= @reservation.user.last_name %>  made a reservation!</h1>
    <h3>Your day is about to get much better!</h3> 
    <p>Here is the rundown on what they reserved:</p>

    <ul>
      <li>Gear: <%= @reservation.item.name %></li>
      <li>Dates: <%= @reservation.start_date.strftime("%A %b %d, %Y") %> - <%= @reservation.end_date.strftime("%A %b %d, %Y") %></li>
    </ul>

    <h3>Please confirm by sending <%= @reservation.user.first_name %> an invoice to <%= @reservation.user.email %></h3>

    <p>Thank you and have a great day!</p>

    <p><em>- Gearlance</em></p>
  </body>
</html>