<p id="notice"><%= notice %></p>

<p>
  <b>Subname:</b>
  <%= @subcategory.subname %>
</p>

<p>
  <b>Category:</b>
  <%= @subcategory.category_id %>
</p>


<%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
<%= link_to 'Back', subcategories_path %>
