<h1>Edit Your Profile</h1>
<% if @user.errors.full_messages.present?  %>
  <%= @user.errors.full_messages %>
<% end %>

<div class="row">

<%= form_for @user do |f| %>

  <div class="span3 offset1">
      <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail">
            <%= image_tag @user.avatar %>
<!--             <img src="/assets/default-profile.jpg" alt=""> -->
            <div class="fileinputs">
              <%= f.file_field :avatar, class: "btn file" %>
              <div class="fakefile">
                <input type="file" class="upload" />
                <img src="/assets/upload-photo.png" />
              </div>
            </div>
          </div>
        </li>
      </ul>
  </div>

  <div class="span3 well">

<legend>Account</legend>

  <%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name, "Last Name" %>
  <%= f.text_field :last_name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Password Confirmation" %>
  <%= f.password_field :password_confirmation %>

  </div>

  <div class="span3 well">
<!--
  <%= f.label :avatar, "Avatar Photo" %>
  <%= f.text_field :avatar %> -->

<legend>Contact</legend>

  <%= f.label :phone, "Phone" %>
  <%= f.text_field :phone %>
  <i class="icon-search"></i>

  <%= f.label :address_1, "Address" %>
  <%= f.text_field :address_1 %>

  <%= f.label :address_2, "Address 2" %>
  <%= f.text_field :address_2 %>

  <%= f.label :city, "City" %>
  <%= f.text_field :city %>

  <%= f.label :state, "State" %>
  <%= f.text_field :state %>

  <%= f.label :zip, "Zip" %>
  <%= f.text_field :zip %>

  <%= f.label :country, "Country" %>
  <%= f.text_field :country %>

  <br><%= f.submit "Update Profile", class: "btn btn-success" %>
<% end %>
</div>
</div>

