<div class="well">
  <div>

<h1>Join Gearlance!</h1>

<% if notice %>
  <p><%= notice %></p>
<% end %>

<%= form_for @user do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <% if @user.errors[:email].any? %>
    <% @user.errors[:email].each do |error| %>
      <%= error.capitalize %><br>
    <% end %>
  <% end %>

  <%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name %>
  <% if @user.errors[:first_name].any? %>
    <% @user.errors[:first_name].each do |error| %>
      <%= error.capitalize %><br>
    <% end %>
  <% end %>

  <%= f.label :last_name, "Last Name" %>
  <%= f.text_field :last_name %>
  <% if @user.errors[:last_name].any? %>
    <% @user.errors[:last_name].each do |error| %>
      <%= error.capitalize %><br>
    <% end %>
  <% end %>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <% if @user.errors[:password].any? %>
    <% @user.errors[:password].each do |error| %>
      <%= error.capitalize %><br>
    <% end %>
  <% end %>



<div class="control-group">
    <label class="control-label" for="inputEmail">Password</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Password">
    </div>
  </div>
  <%= f.password_field :password %>

  <% if @user.errors[:password].any? %>
    <% @user.errors[:password].each do |error| %>
      <%= error.capitalize %><br>
    <% end %>
  <% end %>



  <%= f.label :password_confirmation, "Password Confirmation" %>
  <%= f.password_field :password_confirmation %>
  <% if @user.errors[:password_confirmation].any? %>
    <% @user.errors[:password_confirmation].each do |error| %>
      <%= error.capitalize %><br>
    <% end %>
  <% end %>

  <br><%= f.submit "Sign Up!", class: "btn btn-success" %>
<% end %>
</div>

</div>
