
<div class="span6 center">

  <h1 class="text-center">Join Gearlance!</h1>

  <%= form_for @user do |f| %>

    <div class="row">
      <div class="span3">
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <img src="/assets/default-profile.jpg" alt="">
              <div class="fileinputs">
                <%= f.file_field :avatar, class: "btn file" %>
                <div class="fakefile">
                  <input type="file" class="upload" />
                  <img src="/assets/upload-photo.png" />
                </div><!-- end fakefile -->
              </div><!-- end fileinputs -->
            </div><!-- end thumbnail -->
          </li>
        </ul>
      </div><!-- end span3 -->

      <div class="span3">

        <%= f.text_field :email, placeholder: "Email" %>
        <% if @user.errors[:email].any? %>
          Email <%= @user.errors[:email][0] %>
        <% end %>

        <%= f.text_field :first_name, placeholder: "First Name" %>
        <% if @user.errors[:first_name].any? %>
          We need a first name
        <% end %>

        <%= f.text_field :last_name, placeholder: "Last Name" %>
        <% if @user.errors[:last_name].any? %>
          We need a last name for that first name
        <% end %>

        <%= f.password_field :password, placeholder: "Password"%>
        <% if @user.errors[:password].any? %>
          <% if @user.errors[:password][0].present? %>
            Password <%= @user.errors[:password][0] %><br>
          <% end %>
          <% if @user.errors[:password][1].present? %>
            Password <%= @user.errors[:password][1] %>
          <% end %>
        <% end %>

        <%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>

        <br><%= f.submit "Sign Up", class: "btn btn-success" %>
      </div> <!-- end span3 -->
   <% end %>

  </div> <!-- row -->
</div><!-- end center -->



