

<div class="row">
  <ul class="nav nav-pills span5">
   <li class="active">
    <a href="#">Dashboard</a>
  </li>
  <li><%= link_to "Reservations", reservations_url %></li>
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        Account
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
      <li><a href="#">Notifications</a></li>
      <li><a href="#">Payout Preferences</a></li>
      <li><a href="#">Transaction History</a></li>
      <li><a href="#">Referrals</a></li>
    </ul>
  </li>
</ul>
</div>


<div class="row">
<div class="span3 well">

<% if @user.id == session[:user_id] %>
    <% if @user.avatar.present? %>
    <%= image_tag @user.avatar, width:260, class: "thumbnail" %><br>
      <% else %>
        <%= gravatar_for @user, 260 %><br>
      <% end %>
  <% else %>
    <!-- <h1><%= @user.first_name %> <%= @user.last_name %></h1> -->
  <% end %>

<div class="text-center">
  <h3><%= @user.first_name %> <%= @user.last_name %></h3>
<!-- <dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @user.first_name %> <%= @user.last_name %></dd>
  <dt>Email</dt>
  <dd><%= @user.email %><dd>
  <dt>Phone</dt>
  <dd><%= @user.phone %></dd>
</dl> -->
<%= link_to "Edit my profile", edit_user_url(@user.id) %>
</div>
</div>

<!-- <ul>
  <li><b>Name:</b> <%= @user.first_name %> <%= @user.last_name %></li>
  <li><b>Email:</b> <%= @user.email %></li>
  <li><b>Phone:</b> <%= @user.phone %></li>
  <li><b>Address:</b> <%= @user.address_1 %></li>
  <li><b>Address:</b> <%= @user.address_2 %></li>
  <li><b>City:</b> <%= @user.city %></li>
  <li><b>State:</b> <%= @user.state %></li>
  <li><b>Zip:</b> <%= @user.zip %></li>
  <li><b>Country:</b> <%= @user.country %></li>
</ul>
  <%= link_to "Edit my profile", edit_user_url(@user.id) %>
  <%= link_to "Delete my profile", user_url(@user.id), method: :delete, confirm: "Sure?" %> -->



<div class="span8 item-list">
<legend>Your Gear</legend>
<% if @user.items.count > 0 %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Item</th>
        <th>Category</th>
        <th>Name</th>
        <!-- <th>Description</th> -->
        <th>Daily Price</th>
        <th>Weekly Price</th>
        <th>Monthly Price</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @user.items.each do |item| %>
        <tr id="row_<%= item.id %>">
          <td><% if item.image_content_type.present? || item.photo_url.present? %>
                <% if item.image_content_type.present?  %>
                <%= link_to image_tag(item.image.url(:small)), item_url(item.id) %>
              <% else %>
                <%= link_to image_tag(item.photo_url), item_url(item.id) %>
              <% end %>
            <% else %>
             <%= link_to image_tag "http://www.clker.com/cliparts/J/P/C/M/k/d/teal-camera-md.png" %>
          <% end %>
          </td>
          <td><%= item.category.name %></td>
          <td><%= item.name %></td>
          <!-- <td><%= item.description %></td> -->
          <td>$<%= item.daily_price %></td>
          <td>$<%= item.weekly_price %></td>
          <td>$<%= item.monthly_price %></td>
          <td><%= link_to 'Show', item, class: 'btn btn-primary' %></td>
          <% if @user.id == session[:user_id] %>
            <td><%= link_to 'Edit', edit_item_url(item), class: 'btn btn-primary' %></td>
            <td><%= link_to 'Delete', item, class: 'btn btn-danger', method: 'delete', data: { confirm: "Do you really want to delete this item?" }, remote: true %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "List more gear", new_item_url %>
<% elsif @user.id == session[:user_id] %>
  <h4>You're not listing any gear.  Bummer.</h4>
  <%= link_to "List your gear", new_item_url, class: "btn btn-primary", style: "margin: 15px 0" %>
<% else %>

<% end %>


<!--
<legend>Your Reservations</legend>
<% if @user.reservations.present? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Category</th>
        <th>Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Rental Days</th>
        <th>Estimate</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    <% @user.reservations.each do |r| %>
      <tr>
          <td><%= r.id %></td>
          <td><%= r.item.category.name %></td>
          <td><%= r.item.name %></td>
          <td><%= r.item.description %></td>
          <td><%= r.start_date.strftime("%A %b %d, %Y") %></td>
          <td><%= r.end_date.strftime("%A %b %d, %Y") %></td>
          <td><%= r.rental_period %></td>
          <td>$ <%= r.estimate %></td>

          <td><%= link_to 'Show', reservation_url(r.id), class: 'btn btn-primary' %></td>
          <% if @user.id == session[:user_id] %>
            <td><%= link_to 'Edit', edit_reservation_url(r.id), class: 'btn btn-primary' %></td>
            <td><%= link_to 'Cancel', reservation_url(r.id), class: 'btn btn-danger', method: 'delete', data: { confirm: "Do you really want to delete this reservation?" } %></td>
          <% end %>
        <% end %><br>
      </tr>
    </tbody>
  </table>
  <% elsif @user.id == session[:user_id] %>
  <h4>You have no reservations.</h4>
  <%= link_to "Browse Gear", new_item_url, class: "btn" %>
<% else %>

<% end %> -->

</div><!-- span -->


</div><!-- row -->




