<h1>Reservations</h1>

<% @reservations.each do |r| %>
 <p><%= r.user.first_name %> <%= r.user.last_name %></p>
 <p>From: <%= r.start_date %><br> To: <%= r.end_date %></p>
 <h3>The Gear: <%= r.item.name %></h3>
 <%= image_tag r.item.photo_url, width: 200 %>
 <br><hr>
<% end %>
