<h1><%= @reservation.user.first_name %> <%= @reservation.user.last_name %></h1>
<h2>Reservation # <%= @reservation.id %></h2>

<% if notice %>
  <p><%= notice %></p>
<% end %>

<% if @reservation.item.reserved != true %>
  <%= form_tag reservation_charges_path(@reservation) do %>
    <article>
      <label class="amount">
        <span>Amount: $<%= (@reservation.estimate) %></span>
      </label>
    </article>

      <script
        src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
        data-key="pk_test_GZvVc4qX0wRlpH3Mhi3QGOh9"
        data-amount="<%= (@reservation.estimate) * 100 %>"
        data-name="<%= @reservation.item.name %>"
        data-description="<%= @reservation.start_date.strftime("%-m/%-d/%Y") %> - <%= @reservation.end_date.strftime("%-m/%-d/%Y") %>">
      </script>
  <% end %>
<% else %>
  <p>You have paid for your reservation and your requested item will be released to you!</p>
<% end %>


Item: <%= @reservation.item.name %><br>

From: <%= @reservation.start_date.strftime("%A %b %d, %Y") %><br>
To: <%= @reservation.end_date.strftime("%A %b %d, %Y") %><br>
Rental Period: <%= @reservation.rental_period %> days<br>
Rental Estimate: $<%= (@reservation.estimate) %><br>



<% if @reservation.item.image_content_type.present?  %>
  <%= image_tag @reservation.item.image.url(:small) %>
<% else %>
  <%= image_tag @reservation.item.photo_url, width: 300 %>
<% end %>


