<h1><%= @reservation.user.first_name %> <%= @reservation.user.last_name %></h1>
<h2>Reservation # <%= @reservation.id %></h2>

  <%= link_to "Write a Review", new_review_url(:item_name => @reservation.item.name, :reservation_id => @reservation.id) %>




<% if notice %>
  <p><%= notice %></p>
<% end %>

<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $<%= (@reservation.estimate) %></span>
    </label>
  </article>

<% end %>

Item: <%= @reservation.item.name %><br>

From: <%= @reservation.start_date.strftime("%A %b %d, %Y") %><br>
To: <%= @reservation.end_date.strftime("%A %b %d, %Y") %><br>
Rental Period: <%= @reservation.rental_period %> days<br>
Rental Estimate: $<%= (@reservation.estimate) %><br>



  <% if @reservation.item.image_content_type.present?  %>
    <%= image_tag @reservation.item.image.url(:small) %>
  <% else %>
    <%= image_tag @reservation.item.photo_url, width: 300 %>
  <% end %>


