<h1><%= @reservation.user.first_name %> <%= @reservation.user.last_name %></h1>
<h2>Reservation # <%= @reservation.id %></h2>

<% if notice %>
  <p><%= notice %></p>
<% end %>

<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
    data-key="pk_test_GZvVc4qX0wRlpH3Mhi3QGOh9"
    data-amount="2000"
    data-name="Demo Site"
    data-description="2 widgets ($20.00)"
    data-image="/128x128.png">
  </script>
</form>

Item: <%= @reservation.item.name %><br>

From: <%= @reservation.start_date.strftime("%A %b %d, %Y") %><br>
To: <%= @reservation.end_date.strftime("%A %b %d, %Y") %><br>
Rental Period: <%= @reservation.rental_period %> days<br>
Rental Estimate: $<%= (@reservation.estimate) %><br>



  <% if @reservation.item.image_content_type.present?  %>
    <%= image_tag @reservation.item.image.url(:small) %>
  <% else %>
    <%= image_tag @reservation.item.photo_url, width: 300 %>
  <% end %>


