<%= form_for Reservation.new do |r| %>

  <%= r.hidden_field :user_id, value: session[:user_id] %>
  <%= r.hidden_field :item_id, value: @item.id %>

  <%= r.label :from %>
  <%= r.text_field :start_date, :placeholder => "yyyy/mm/dd"  %>

  <%= r.label :to %>
  <%= r.text_field :end_date, :placeholder => "yyyy/mm/dd" %>

<p>
  <%= r.submit "Book It", class: "btn btn-primary" %>
</p>

<% end %>
