<%= form_for Reservation.new do |r| %>

  <%= r.hidden_field :user_id, value: session[:user_id] %>
  <%= r.hidden_field :item_id, value: @item.id %>

  <%= r.label :from %>
  <%= r.text_field :start_date, :placeholder => "yyyy/mm/dd"  %>

  <%= r.label :to %>
  <%= r.text_field :end_date, :placeholder => "yyyy/mm/dd" %>

  <br><br>
  <p>Does that work for you?</p>
  <%= r.text_area :comments, placeholder: "Say something nice...", rows: 3 %>

  <br><br>
  <p>
    <%= r.submit "Send Request", class: "btn btn-success" %>
  </p>

<% end %>
