<%= form_for @item, :html => { :multipart => true } do |f| %>
<div class="row">
<div class="span4">
  <div>
    <%= f.file_field :image %>
  </div>

</div>

<div class="span3">
  <%= f.error_messages %>

  <%= f.label :category_id, "Select a Category" %>
  <%= f.collection_select(:category_id, Category.all, :id, :name, prompt: "[Select One]") %>

  <%= f.label :name, "Item Title" %>
  <%= f.text_field :name %>

  <%= f.label :description, "Description" %>
  <%= f.text_area :description, rows: "7" %>

</div>

<div class="span3">
  <%= f.label :daily_price, "Daily Price" %>
  <%= f.number_field :daily_price, placeholder: "$0.00" %>

  <%= f.label :weekly_price, "Weekly Price" %>
  <%= f.number_field :weekly_price, placeholder: "$0.00" %>

  <%= f.label :monthly_price, "Monthly Price" %>
  <%= f.number_field :monthly_price, placeholder: "$0.00" %>

  <br><%= f.submit class: "btn btn-success" %>
<% end %>
</div>
</div>
