<%= form_for @item, :html => { :multipart => true } do |f| %>

  <%= f.label :category_id, "Select a Category" %>
  <%= f.collection_select(:category_id, Category.all, :id, :name, prompt: "[Select One]") %>
  <% if @item.errors[:category_id].any? %>
    <% @item.errors[:category_id].each do |error| %>
      <%= error.capitalize %><br>
    <% end %>
  <% end %>

  <%= f.label :name, "item Title:" %>
  <%= f.text_field :name %>
  <% if @item.errors[:name].any? %>
    <% @item.errors[:name].each do |error| %>
      <%= error.capitalize %><br>
    <% end %>
  <% end %>

  <div>
    <%= f.file_field :image %>
  </div>

  <%= f.label :description, "Description:" %>
  <%= f.text_area :description %>
  <% if @item.errors[:description].any? %>
    <% @item.errors[:description].each do |error| %>
      <%= error.capitalize %><br>
    <% end %>
  <% end %>

  <%= f.label :daily_price, "Daily Price:" %>
  <%= f.number_field :daily_price, placeholder: "$0.00" %>
  <% if @item.errors[:daily_price].any? %>
    <% @item.errors[:daily_price].each do |error| %>
      <%= error.capitalize %><br>
    <% end %>
  <% end %>

  <%= f.label :weekly_price, "Weekly Price:" %>
  <%= f.number_field :weekly_price, placeholder: "$0.00" %>
  <% if @item.errors[:weekly_price].any? %>
    <% @item.errors[:weekly_price].each do |error| %>
      <%= error.capitalize %><br>
    <% end %>
  <% end %>

  <%= f.label :monthly_price, "Monthly Price:" %>
  <%= f.number_field :monthly_price, placeholder: "$0.00" %>
  <% if @item.errors[:monthly_price].any? %>
    <% @item.errors[:monthly_price].each do |error| %>
      <%= error.capitalize %><br>
    <% end %>
  <% end %>

  <br><%= f.submit class: "btn" %>
<% end %>
