  <div class="row-fluid">
    <div class="span12 hero">
      <img src="" class="hero-image"/>
      <div class="headliner">
        <h1>Rent Gear today</h1>
        <h4>Easily try out cameras, lenses, lights </br>and more from people just like you.</h4>
        <%= link_to "Browse Gear", items_url, class: "btn btn-success btn-large" %>
      </div>
    </div>
  </div>





    <div class="gallery-home center top-margin">
      <ul class="thumbnails grid">
        <li class="shadow">
          <a href="<%= item_url(3) %>" class="thumbnail">
            <div class="wrapper">
              <div class="card">
                <div class="face front">
                  <img src="http://images17.newegg.com/is/image/newegg/30-995-995-TS?$S300W$">
                </div>
                <div class="face back">
                  <ul>
                    <li><em>TAMRON 18-270mm Lens</em></li>
                    <li>Great for taking photos of the water or semi-still landscapes</li>
                    <li>$10/day</li>
                    <li><button class="btn btn-small pull-right">Rent</button></li>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="shadow">
          <a href="<%= item_url(35) %>" class="thumbnail">
            <div class="wrapper">
              <div class="card">
                <div class="face front">
                  <img src="http://www.thelashop.com/images/P/01UMS002-VL-303UL-B-p01.jpg">
                </div>
                <div class="face back">
                  <ul>
                    <li><em>32 inch Umbrella Photo Lighting Continuous 3 Lights Kit with Case</em></li>
                    <li>Great for taking photos of the water or semi-still landscapes</li>
                    <li>$10/day</li>
                    <li><button class="btn btn-small pull-right">Rent</button></li>
                  </ul>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="shadow">
          <a href="<%= item_url(58) %>" class="thumbnail">
            <div class="wrapper">
              <div class="card">
                <div class="face front">
                  <img src="https://lh6.googleusercontent.com/public/QLZkFlj5wpdxoxnxgqbZMkEIZJyT7fn9tZgPiikorkQ-6yEEgfniBl1Hjf-kbYpUZyGv1UHIzy1wvyZBCDRLT7GacKFShZO0vQXGsOKfrgnj58Y2sI6LX52676eh1qOTg8n8LfAsOQ8Dk21AvgS_mpFoog=s220-c">
                </div>
                <div class="face back">
                  <ul>
                    <li><em>Apogee Mic Studio Quality Microphone for iPad, Iphone and Mac</em></li>
                    <li>Great for taking photos of the water or semi-still landscapes</li>
                    <li>$10/day</li>
                    <li><button class="btn btn-small pull-right">Rent</button></li>
                  </ul>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="shadow">
          <a href="<%= item_url(43) %>" class="thumbnail">
            <div class="wrapper">
              <div class="card">
                <div class="face front">
                  <img src="http://img1.targetimg1.com/wcsstore/TargetSAS//img/p/14/44/14449457_130307103000.jpg">
                </div>
                <div class="face back">
                  <ul>
                    <li><em>Nikon XB Lens</em></li>
                    <li>Great for taking photos of the water or semi-still landscapes</li>
                    <li>$10/day</li>
                    <li><button class="btn btn-small pull-right">Rent</button></li>
                  </ul>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>




  <div class="row">
    <div class="span9 center">
      <div id="myCarousel" class="carousel slide">
        <div class="row">
          <ol class="carousel-indicators span9 center">
            <li><a href="#" data-target="#myCarousel" data-slide-to="0">Want to make some extra money?</a></li>
            <li><a href="#" data-target="#myCarousel" data-slide-to="1">Need gear for a project?</a></li>
            <li><a href="#" data-target="#myCarousel" data-slide-to="2">Interested in new gear?</a></li>
          </ol>
        </div>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="row gallery-info">
              <div class="span3 offset1">
                <img src="http://2.bp.blogspot.com/-MwIlpDCqbX0/TmIjim9nYjI/AAAAAAAAACo/PDIpIiFqzEM/s1600/camera-lens-icon.jpg" height="400px" width="300px">
              </div>
              <div class="span4 top-margin">
                <h2>Want to make some extra money?</h2>
                <h4>Rent out your gear when you're not using it. You don't use your gear 24/7, but that doesn't mean your gear can't work for you.  Make some extra cash by safely renting gear to trusted peers on Gearlance.</h4>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row gallery-info">
              <div class="span3 offset1">
                <img src="http://a248.e.akamai.net/pix.crutchfield.com/ImageHandler/fixedscale/900/900/products/2013/2/280/x280HFR400-F.jpeg" height="400px" width="300px">
              </div>
              <div class="span4 top-margin">
                <h2>Need gear for a project?</h2>
                <h4>Rent gear from pros just like you and save a ton of money.</h4>
                  <p>Gearlance has gear up to 50% off of traditional rental houses.  Rent from your peers and be part of the community.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row gallery-info">
              <div class="span3 offset1">
                <img src="http://www.ubergizmo.com/wp-content/uploads/2011/11/17-LomoKino-Super-35.jpg" height="400px" width="300px">
              </div>
              <div class="span4 top-margin">
                <h2>Interested in new gear?</h2>
                <h4>Try out new gear before buying.  Renting through Gearlance gives you a chance to test the latest and greatest without spending a fortune.</h4>
              </div>
            </div>
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>
  <div class="divide"></div>
  <div class="row fluid">
      <div class="span9 center">
        <h1 class="text-center">How does it work?</h1>
        <div class="row top-margin text-center">
          <div class="span3">
            <div class="camera"></div>
            <div>
              <h3>Take a look</h3>
              <p> Browse a huge selection of all kinds of gear.  Cameras, lenses, video, lighting, audio - all available for you to try out. Be inspired to try different kinds of gear.</p>
          </div>
          </div>
          <div class="span3">
            <div class="calendar"></div>
            <div>
              <h3>Reserve</h3>
              <p> Once you've found a piece of gear, easily send a rental request to the owner. Rates are clearly shown so there's no confusion about the cost of renting the gear.</p>
            </div>
          </div>
          <div class="span3">
            <div class="people"></div>
            <div>
              <h3>Make the exchange</h3>
              <p>Once you recieve the gear, pay for the rental through Gearlance.  No need to use another service like Paypal to wrap things up.  It's all in once place.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="span2 center">
        <%= link_to "Browse Gear", items_url, class: "btn btn-success btn-large" %>
      </div>
    </div>

<!-- <div class="row-fluid">  --> <!-- Slider row -->
	<!-- <div class="bxslider">
	  <% @items.sample(15).each do |item| %>

	  <a href="<%= item_url(item.id) %>">
		  <div class="slide crop">
			  <%= image_tag item.photo_url, width: 300,title: "#{item.name} | $#{item.daily_price} per day" %>
		  </div>
	  </a>
	  <% end %>
	</div>
</div> -->


<!-- Javascript for slider -->
<script type="text/javascript">
  $(document).ready(function(){
  $('.bxslider').bxSlider({
  	auto: true,
  	captions: true,
 	slideWidth: 300,
    minSlides: 1,
    maxSlides: 3,
    slideMargin: 10
  });
});
</script>
