<h3>Categories (secondary nav?)</h3>
<%= link_to "Cameras", category_url("cameras") %><br>
<%= link_to "Lenses", category_url("lenses") %>

<br><br>

<h3>All items / Featured items?</h3>
<%= link_to "Add Item", new_item_url, class: "btn btn-success" %><br><br>
<ul>
  <% @items.each do |item| %>
    <li>
      <h3><%= item.name %></h3>
      <%= link_to image_tag(item.photo_url, width: 175), item_url(item.id) %>
      <p><b>Description:</b> <%= item.description %></p>
      <p><b>Daily Price:</b> <%= item.daily_price %></p>
      <p><b>Weekly Price:</b> <%= item.weekly_price %></p>
      <p><b>Monthly Price:</b> <%= item.monthly_price %></p>
      <p><b>Category:</b> <%= item.category.name %></p>
      <p>
        <%= link_to "View", item_url(item.id), class: "btn" %> &nbsp;|&nbsp;
        <%= link_to "Edit", edit_item_url(item.id), class: "btn" %> &nbsp;|&nbsp;
        <%= link_to "86 This", item_url(item.id), method: :delete, confirm: "You sure?", class: "btn btn-danger" %>
      </p>
    </li>
    <hr>
  <% end %>
</ul>