<h1>New Item</h1><br>

<%= link_to raw("&laquo; Back"), items_url, class: "btn" %><br><br>

<%= form_tag items_url, method: "post" do %>
  
  <%= label_tag "item[category_id]", "Select a Category" %>
  <%= select_tag "item[category_id]", options_for_select([["[Select a Category]", nil]]) + options_from_collection_for_select(@categories, "id", "name") %>

  <%= label_tag :name, "Item Title:" %>
  <%= text_field_tag "item[name]" %><br>

  <%= label_tag :photo_url, "Photo URL:" %>
  <%= text_field_tag "item[photo_url]" %><br>

  <%= label_tag :description, "Description:" %>
  <%= text_area_tag "item[description]" %><br>

  <%= label_tag :daily_price, "Daily Price:" %>
  <%= number_field_tag "item[daily_price]", nil, placeholder: "Enter a value" %><br>

  <%= label_tag :weekly_price, "Weekly Price:" %>
  <%= number_field_tag "item[weekly_price]", nil, placeholder: "Enter a value" %><br>

  <%= label_tag :monthly_price, "Monthly Price:" %>
  <%= number_field_tag "item[monthly_price]", nil, placeholder: "Enter a value" %><br><br>

  <%= submit_tag "Add Item" %>
<% end %>
