<%= link_to raw("&laquo; Back"), items_url, class: "btn" %><br>

<br><h1>New Item</h1><br>

<%= form_tag items_url, method: "post" do %>


  <div class="category_id">
    <%= label_tag "item[category_id]", "Select a Category<br><span class='add_category'>Don't see your category?</span>".html_safe %>
    <%= select_tag "item[category_id]", options_for_select([["[Select a Category]", nil]]) + options_from_collection_for_select(@categories, "id", "name") %>
  </div><!-- end category_id -->

  <div class="category_slug">
    <%= label_tag "item[category_slug]", "Other Category:" %>
    <%= text_field_tag "item[category_slug]" %>
  </div><!-- end category_slug -->

  <%= label_tag "item[name]", "Item Title:" %>
  <%= text_field_tag "item[name]" %>

  <%= label_tag "item[photo_url]", "Photo URL:" %>
  <%= text_field_tag "item[photo_url]" %>

  <%= label_tag "item[description]", "Description:" %>
  <%= text_area_tag "item[description]" %>

  <%= label_tag "item[daily_price]", "Daily Price:" %>
  <%= number_field_tag "item[daily_price]", nil, placeholder: "Enter a value" %>

  <%= label_tag "item[weekly_price]", "Weekly Price:" %>
  <%= number_field_tag "item[weekly_price]", nil, placeholder: "Enter a value" %>

  <%= label_tag "item[monthly_price]", "Monthly Price:" %>
  <%= number_field_tag "item[monthly_price]", nil, placeholder: "Enter a value" %>

  <br><%= submit_tag "Add Item", class: "btn" %>
<% end %>
