<<<<<<< HEAD

<div class="row">
  <div class="span8">
    <% if request.env["HTTP_REFERER"] == category_url(@item.category.slug) %>
      <%= link_to raw("&laquo; Back"), categories_url, class: "btn" %> &nbsp;
    <% elsif request.env["HTTP_REFERER"] == user_url(@item.user_id) %>
      <%= link_to raw("&laquo; Back"), user_url(@item.user_id), class: "btn" %> &nbsp;
    <% else %>
      <%= link_to raw("&laquo; Back"), items_url, class: "btn" %> &nbsp;
    <% end %>

    <% if signed_in? && @item.user_id == current_user.id %> | &nbsp;
      <%= link_to "Edit", edit_item_url, class: "btn" %>
    <% end %><br><br>

    <h1><%= @item.name %></h1>
    <p>
      <b>Photo:</b>
      <% if @item.image_content_type.present?  %>
        <%= image_tag @item.image.url(:small) %>
      <% else %>
        <%= image_tag @item.photo_url, width: 300 %>
      <% end %>
    </p>

    <h3>Description</h3>
    <p>Bacon ipsum dolor sit amet salami andouille shank meatloaf spare ribs leberkas brisket, tail short ribs jowl chicken flank tenderloin pork. Pig beef ribs shankle swine ground round corned beef pancetta. Beef ribs corned beef sirloin ball tip, pork loin ribeye beef biltong chuck shoulder turkey brisket prosciutto flank. Biltong flank shankle, cow leberkas pig spare ribs jowl sirloin tri-tip salami fatback sausage pork loin corned beef. Andouille ham hock sirloin beef turkey. Ground round pork chop sausage venison doner short ribs hamburger shankle cow meatloaf pork. Fatback pork chop swine tenderloin hamburger beef ribeye.</p>

    <h3>Reviews</h3>
    <p>Bacon ipsum dolor sit amet salami andouille shank meatloaf spare ribs leberkas brisket, tail short ribs jowl chicken flank tenderloin pork. Pig beef ribs shankle swine ground round corned beef pancetta. Beef ribs corned beef sirloin ball tip, pork loin ribeye beef biltong chuck shoulder turkey brisket prosciutto flank. Biltong flank shankle, cow leberkas pig spare ribs jowl sirloin tri-tip salami fatback sausage pork loin corned beef. Andouille ham hock sirloin beef turkey. Ground round pork chop sausage venison doner short ribs hamburger shankle cow meatloaf pork. Fatback pork chop swine tenderloin hamburger beef ribeye.</p>



    <p><b>Description:</b> <%= @item.description %></p>
    <p><b>Daily Price:</b> $<%= @item.daily_price %></p>
    <p><b>Weekly Price:</b> $<%= @item.weekly_price %></p>
    <p><b>Monthly Price:</b> $<%= @item.monthly_price %></p>
    <p><b>Category:</b> <%= @item.category.name %></p>
  </div><!-- span -->
  <div class="span4">
    <form class="form-horizontal well">
      <fieldset>
        <legend>Rent this gear</legend>
        <p><b>Daily Price:</b> $<%= @item.daily_price %></p>
        <p><b>Weekly Price:</b> $<%= @item.weekly_price %></p>
        <p><b>Monthly Price:</b> $<%= @item.monthly_price %></p>
        <p><b>Category:</b> <%= @item.category.name %></p>
        <label for="from">From</label>
        <input type="text" id="from" name="from" />
        <label for="to">to</label>
        <input type="text" id="to" name="to" />
      </fieldset>

      <!-- Button to trigger modal -->
      <a href="#myModal" role="button" class="btn btn-success" data-toggle="modal" style="margin-top: 10px;">Send Rental Request</a>

      <!-- Modal -->
      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Send Request</h3>
        </div>
        <div class="modal-body">
          <p>Hey Audrey,</p>
          <p>I'm interested in renting your EOS Rebel T2i</p>
          <p>from June 3</p>
          <p>to June 6</p>
          <p>Does that work for you?</p>
          <textarea rows="3" placeholder="Say something nice..."></textarea>

        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <button class="btn btn-success">Send Request</button>
        </div>
      </div>
    </form>
    <div class="well">
      <legend>About Me</legend>
      <div class="row">
        <div class="span2">
        <img src="http://www.women2.com/wp-content/uploads/125x125_Audrey_Tan.jpg">
        </div>
        <h4>Audrey Tan</h4>
        <h5>Chicago, IL</h5>
      </div>
      </br>

      <p>Bacon ipsum dolor sit amet tenderloin swine meatball, jerky bacon pork ribeye spare ribs leberkas salami turducken chicken ham. Strip steak venison pancetta shoulder. Tail swine pork chop, cow ham brisket venison bacon jerky pastrami doner jowl ground round. Short loin sirloin pancetta bresaola ham strip steak.</p>



    </div><!-- well -->

  </div><!-- span -->
</div> <!-- row -->

<%= render 'date' %>
