<h1><%= @item.name %></h1><br>

<%= link_to raw("&laquo; Back"), items_url, class: "btn" %> &nbsp; | &nbsp; <%= link_to "Edit", edit_item_url, class: "btn" %><br><br>

<%= image_tag @item.photo_url, width: 300 %>

<p><b>Description:</b> <%= @item.description %></p>
<p><b>Daily Price:</b> <%= @item.daily_price %></p>
<p><b>Weekly Price:</b> <%= @item.weekly_price %></p>
<p><b>Monthly Price:</b> <%= @item.monthly_price %></p>
<p><b>Category:</b> <%= @item.category.name %></p>