<div class="row">

  <div class="span8">
    <% if request.env["HTTP_REFERER"] == category_url(@item.category.slug) %>
      <%= link_to raw("&laquo; Back"), categories_url, class: "btn" %> &nbsp;
    <% elsif request.env["HTTP_REFERER"] == user_url(@item.user_id) %>
      <%= link_to raw("&laquo; Back"), user_url(@item.user_id), class: "btn" %> &nbsp;
    <% else %>
      <%= link_to raw("&laquo; Back"), items_url, class: "btn" %> &nbsp;
    <% end %>

    <% if signed_in? && @item.user_id == current_user.id %> | &nbsp;
      <%= link_to "Edit", edit_item_url, class: "btn" %>
    <% end %>

    <h1><%= @item.name %></h1>
    <p><b>Category:</b> <%= @item.category.name %></p>

    <p>
      <% if @item.image_content_type.present? || @item.photo_url.present? %>
        <% if @item.image_content_type.present?  %>
          <%= image_tag @item.image.url(:small) %>
        <% else %>
          <%= image_tag @item.photo_url, width: 300 %>
        <% end %>
      <% else %>
        <%= link_to image_tag "http://www.clker.com/cliparts/J/P/C/M/k/d/teal-camera-md.png" %>
      <% end %>
    </p>

    <h3>Description</h3>
    <p><%= @item.description %></p>

    <h3>Reviews</h3>
    <p>Bacon ipsum dolor sit amet salami andouille shank meatloaf spare ribs leberkas brisket, tail short ribs jowl chicken flank tenderloin pork. Pig beef ribs shankle swine ground round corned beef pancetta. Beef ribs corned beef sirloin ball tip, pork loin ribeye beef biltong chuck shoulder turkey brisket prosciutto flank. Biltong flank shankle, cow leberkas pig spare ribs jowl sirloin tri-tip salami fatback sausage pork loin corned beef. Andouille ham hock sirloin beef turkey. Ground round pork chop sausage venison doner short ribs hamburger shankle cow meatloaf pork. Fatback pork chop swine tenderloin hamburger beef ribeye.</p>
  </div><!-- span8 -->

  <div class="span4">

    <div class="form-horizontal well">
      <%= notice %>
      <legend>Rent this gear</legend>
      <p><b>Daily Price:</b> $<%= @item.daily_price %></p>
      <p><b>Weekly Price:</b> $<%= @item.weekly_price %></p>
      <p><b>Monthly Price:</b> $<%= @item.monthly_price %></p>

      <!-- Button to trigger modal -->
      <% if signed_in? && @item.user_id != current_user.id %>
        <a href="#myModal" role="button" class="btn btn-success" data-toggle="modal" style="margin-top: 10px;">Send Rental Request</a>
      <% end %>

      <!-- Modal -->
      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close ×</button>
          <h3 id="myModalLabel">Send Request</h3>
        </div><!-- end modal-header -->

        <div class="modal-body">
          <p>Hey <%= @item.user.first_name %>,</p>
          <p>I'm interested in renting your <%= @item.name %></p>

          <%= render 'date' %>

        </div><!-- end modal-body -->

        <div class="modal-footer">

        </div><!-- end modal-footer -->

      </div><!-- end myModal -->

    </div><!-- end form-horizontal -->


    <div class="well">
      <legend>About the Renter</legend>
      <div class="row">
        <div class="span2">
          <% if @item.user.avatar.present? %>
            <%= image_tag @item.user.avatar, width:125 %><br>
          <% else %>
            <%= gravatar_for @item.user, 125 %><br>
          <% end %>
        </div><!-- end span2 -->
        <h4><%= @item.user.first_name %> <%= @item.user.last_name %></h4>
        <h5><%= @item.user.city %>, <%= @item.user.state %></h5>
      </div><!-- end row -->
      </br>

      <p>
        <% if signed_in? && @item.user_id == current_user.id %>
          <% if @item.user.user_bio.present? %>
              <%= @item.user.user_bio %>
          <% else %>
              Don't be shy... Let others see your good side. <%= link_to "Update Your Profile", edit_user_url(@item.user.id) %>
          <% end %>
          <% else %>
            <%= @item.user.user_bio %>
        <% end %>
      </p>

    </div><!-- well -->

  </div><!-- span4 -->
</div> <!-- row -->
