<h1><%= @item.name %></h1>

<% if request.env["HTTP_REFERER"] == category_url(@item.category.slug) %>
  <%= link_to raw("&laquo; Back"), categories_url, class: "btn" %> &nbsp;
<% elsif request.env["HTTP_REFERER"] == user_url(@item.user_id) %>
  <%= link_to raw("&laquo; Back"), user_url(@item.user_id), class: "btn" %> &nbsp;
<% else %>
  <%= link_to raw("&laquo; Back"), items_url, class: "btn" %> &nbsp;
<% end %>

<% if signed_in? && @item.user_id == current_user.id %> | &nbsp;
  <%= link_to "Edit", edit_item_url, class: "btn" %>
<% end %><br><br>

<p>
  <b>Photo:</b>
  <% if @item.image_content_type.present?  %>
    <%= image_tag @item.image.url(:small) %>
  <% else %>
    <%= image_tag @item.photo_url, width: 300 %>
  <% end %>
</p>


<p><b>Description:</b> <%= @item.description %></p>
<p><b>Daily Price:</b> $<%= @item.daily_price %></p>
<p><b>Weekly Price:</b> $<%= @item.weekly_price %></p>
<p><b>Monthly Price:</b> $<%= @item.monthly_price %></p>
<p><b>Category:</b> <%= @item.category.name %></p>
