<h1>New Product</h1><br>

<%= form_tag products_url, method: "post" do %>

  <%= label_tag "category_id", "Category:" %>
  <%= text_field_tag "category_id" %><br>

  <%= label_tag "name", "Product Title:" %>
  <%= text_field_tag "name" %><br>

  <%= label_tag "photo_url", "Photo URL" %>
  <%= text_field_tag "photo_url" %><br>

  <%= label_tag "description", "Description" %>
  <%= text_area_tag "description" %><br>

  <%= label_tag "daily_price", "Daily Price" %>
  <%= text_field_tag "daily_price" %><br>

  <%= label_tag "weekly_price", "Weekly Price" %>
  <%= text_field_tag "weekly_price" %><br>

  <%= label_tag "monthly_price", "Monthly Price" %>
  <%= text_field_tag "monthly_price" %><br><br>

  <%= submit_tag "Add Product" %>
<% end %>
